h1 {
padding-left: 25px;
padding-right: 25px;
padding-top: 60px;
font: normal 32px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td, p {
  font: 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: justify;
}
th {
  font: bold 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}
