footer {
  margin-top: 150px;
  height: 100px;
  background-color: $background_color_3;
  color: $color_2;
  h5 {
    position: relative;
    float: right;
    bottom: -70px;
    padding: 10px;
  }
}