header {
  width: 100%;
  height: 100px;
  background: #abeafa;
  span {
    font: normal 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}