$color_1: #FFF500;
$color_2: #000000;
$color_3: #ffffff;
$color_4: #464646;
$color_5: #6A6969;
$background_color_1: #f8f8f8;
$background_color_2: #FFF500;
$background_color_3: #26d2fc;
$background_color_4: #000000;
$background_color_5: #373737;
$background_color_6: #ffffff;
@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
.container {
  min-width: 500px;
  max-width: 1500px;
  width: 80%;
  margin: auto;
  margin-top: 0;
  background-color: $background_color_1;
}
header {
  width: 100%;
  height: 100px;
  background: #abeafa;
}
h1 {
padding-left: 25px;
padding-right: 25px;
padding-top: 60px;
font: normal 32px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  font: italic 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color_2;
  text-align: center;
  text-decoration: none;
}
td, p {
  font: 14px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  text-align: justify;
}
th {
  font: bold 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
}
.edit_post, .new_post {
  padding: 20px;
  .field {
    padding: 10px;
    textarea {
      padding-left: 15px;
      height: 150px;
      width: 60%;
      font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    } 
    input {
      padding-left: 15px;
      margin-left: 3px;
      height: 30px;
      font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    label {
      position: relative;
      margin-right: 15px;
      font: 16px "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  }
  .actions {
    input {
      position: relative;
      left: 20px;
      background-color: $background_color_3;
      height: 30px;
      width: 200px;
      border: 0;
      margin: 0
    }
  }
}
.if_small_page {
  margin-bottom: 500px;
}  
.down_link {
  position: relative;
  float: left;
  left: 30px;
  padding: 10px;
  margin-left: 10px;
  display: block;
  height: 20px;
  width: 80px;
  background-color: $background_color_3;
  text-align: center;
}
footer {
  margin-top: 150px;
  height: 100px;
  background-color: $background_color_5;
  color: $color_3;
}
h5 {
  position: relative;
  float: right;
  bottom: -70px;
  padding: 10px;
}








