$color_1: #000000;
$color_2: #ffffff;
$background_color_1: #f8f8f8;
$background_color_2: #26d2fc;
$background_color_3: #373737;
$background_color_4: #1E90FF;
@charset "utf-8";
@import
  'base/base',
  'base/typography';
@import
  'components/buttons',
  'components/links';
@import
  'layout/navigation',
  'layout/header',
  'layout/footer',
  'layout/forms';
@import 'pages/edit';